.progress-bar {
  background-color: #545f66;
  height: 5px;
}

.timer-container {
  width: 100%;
  height: 5px;
}

.spinner-icon {
  padding: 10px;
  color: #545f66;
  font-size: 60px;
}

.empty-block {
  height: 80px;
  width: 80px;
}

.pour-button {
  text-decoration: none;
  background: #fff;
  padding: 10px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.pour-container {
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-content: center;
  align-items: center;
}