.add-container {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.modal-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

}

.color {
  background-color: #545f66;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.plus-circle-icon {
  padding: 10px;
  color: #48BEFF;
  font-size: 60px;
  position: fixed;
  bottom: 0;
  right: 10px;
}