.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #545f66;
  color: #fff;
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 8px 6px -6px black;
}

.not-ready-container {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Button */
.form-button {
  background-color: #48BEFF;
  border: none;
  color: #fff;
  font-size: 1em;
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: normal;
}